<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up page</title>
</head>

<body>

<h1>Your sign up data</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Login</th>
        <!-- <th>Password</th> -->
        <th>Action</th>
    </tr>
    </thead>

    <tr th:each="participant : ${participants}">
        <td th:utext="${participant.id}">Id</td>
        <td th:utext="${participant.name}">Name</td>
        <td th:utext="${participant.address}">Address</td>
        <td th:utext="${participant.login}">Login</td>
        <td style="display: none" th:utext="${participant.password}">Address</td>
        <td> <a th:href="@{'/removeParticipant?id=' + ${participant.id}}"> Remove </a></td>
    </tr>

</table>
</body>
</html>